@font-face {
  font-family: "IBM-bold";
  src: url("../fonts/IBMPlexSans-Bold.ttf");
}
@font-face {
  font-family: "IBM-regular";
  src: url("../fonts/IBMPlexSans-Regular.ttf");
}
@font-face {
  font-family: "IBM-light";
  src: url("../fonts/IBMPlexSans-Light.ttf");
}

/* TABLE OF CONTENT

1.GENERAL STYLES
2.KEY FRAMES
3.HEADER 
4.PRINCIPAL
5.PORTAFOLIO
6.LIGHT BOX
7.ABOUT 
8.TESTIMONIALS
9.BANNER 
10.QUESTIONS
11.SKILLS
12.FOOTER
13.MEDIA QUERYS */

/* GENERAL STYLES */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  box-sizing: inherit;
}
body {
  box-sizing: inherit;
  overflow-x: hidden;
  font-family: "IBM-regular";
  font-size: 16px;
  line-height: 24px;
}
section,
footer {
  box-sizing: inherit;
  width: 100vw;
}

:root {
  --root-back: #2c2c2cf7;
  --root-gray-dark: #343a4094;
  --root-gray: rgb(245, 246, 250);
  --root-gold: rgb(235, 184, 94);
  --root-light-gold: rgba(235, 184, 94, 0.65);
}
h1,
h1,
h3,
h4,
h5 {
  color: var(--root-back);
  display: block;
  text-transform: capitalize;
}
h1 {
  font-family: "IBM-bold";
  font-size: 54px;
  line-height: 67px;
  font-weight: 700;
}
h2 {
  font-family: "IBM-light";
  font-size: 54px;
  line-height: 67px;
  font-weight: 100;
}
h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  text-align: center;
  margin: 0 15px 40px;
}
h4 {
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
}
h5 {
  font-size: 18px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0.18px;
}
h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 3.2px;
  color: var(--root-gold);
}

a {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: var(--root-gold);
}
/* BOTTONS  */
a.btn,
.btn {
  z-index: 1;
  display: block;
  position: relative;
  color: #fff;
  overflow: hidden;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
  width: max-content;
  padding: 15px 20px;
  text-align: center;
  border-radius: 7px;
  cursor: pointer;
  background-color: var(--root-gold);
}
.scroll-top-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: calc(100vw - 75px);
  bottom: 10px;
  background-color: var(--root-gold);
  width: 45px;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 50%;
  z-index: 99;
  font-size: 25px;
  cursor: pointer;
  overflow: hidden;
}
.btn:before,
.img-content .circle:before,
.email-wrapper .email-icon:before,
.scroll-top-btn:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.08s ease-in-out;
  z-index: -1;
}

.btn:hover:before,
.img-content .circle:hover:before,
.email-wrapper .email-icon:hover:before,
.scroll-top-btn:hover:before {
  height: 100%;
}

/* KEYFRAMES */
@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    visibility: hidden;
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    visibility: hidden;
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    visibility: hidden;
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    visibility: hidden;
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    visibility: hidden;
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    visibility: hidden;
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    visibility: hidden;
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    visibility: hidden;
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}
.apear {
  visibility: hidden;
  opacity: 0;
}

/* HEADER */
.header {
  position: fixed;
  z-index: 997;
  top: 0;
  height: 80px;
  background-color: transparent;
}

[id] {
  scroll-margin-top: 80px;
}
.hamburger {
  outline: none;
}
.panel-btn {
  position: fixed;
  z-index: 1000;
  top: 15px;
  right: 20px;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 30%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blanchedalmond;
}

.panel {
  position: fixed;
  z-index: 990;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.75);
  transform: translate(0, -200%);
  -webkit-transform: translate(0, -200%);
  transition: all 0.3s ease;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--root-gold);
}
.panel.is-active {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}
.menu {
  width: inherit;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.menu a {
  padding: 2rem;
  width: 100%;
  display: block;
  font-size: 1.7rem;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  z-index: 1;
}
.menu a:hover,
.menu a.active {
  font-size: 1.8rem;
  line-height: 25px;
  color: #000;
  background-color: var(--root-gold);
}

/* PRINCIPAL */
.principal {
  min-height: 100vh;
  position: relative;
}
.principal .foto-overlap {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../assets/img/screens-1-1046x720.jpg) no-repeat;
  background-size: 60% 100%;
}
.principal .foto-overlap:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../assets/img/back2.png) no-repeat 44% center;
  background-size: 30% 100%;
}
.principal .content-overlap {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 100px;
}
.content-overlap h6 {
  width: 340px;
}
.content-overlap .title {
  text-emphasis: left;
  width: 45%;
  padding: 20px 0;
}

.content-overlap .text {
  padding: 20px 0;
  width: 340px;
}
.content-overlap .text h4 {
  margin-bottom: 50px;
}
/* PORTAFOLIO GALLERY */
.portafolio {
  min-height: 100vh;
  padding: 10px 0;
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.gallery {
  width: 90%;
  margin: 10px auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  grid-auto-rows: 250px;
  gap: 25px;
}
.gallery .item {
  overflow: hidden;
  position: relative;
}
.gallery .item img {
  max-width: 110%;
  height: 100%;
}
.img-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 25px 25px 0 25px;
  display: flex;
  flex-flow: column;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity: 0;
  transition: 0.1s ease-in-out;
}
.img-content:hover {
  opacity: 1;
}
.img-content p {
  margin: 20px 0;
}

.img-content .circle {
  background-color: var(--root-gold);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-content .circle img {
  width: 25px;
}

.gallery .item:nth-child(2),
.gallery .item:nth-child(5),
.gallery .item:nth-child(4) {
  grid-row: span 2;
}
/* LIGHT BOX */
.light-box {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(100%);
  -webkit-transform: translate(100%);
  transition: transform 0.2s ease-in-out;
}

.show {
  transform: translate(0);
  -webkit-transform: translate(0);
}

.zoom-img {
  object-fit: cover;
  width: 75%;
  border-radius: 10px;
  transform: scale(0);
  transition: transform 0.3s 0.2s;
  -webkit-transform: translate(0);
}

.showImage {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

.close {
  position: absolute;
  top: 15px;
  right: 25px;
  width: 40px;
  cursor: pointer;
  font-size: 25px;
}
/* ABOUT */
.about {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
}
.about h3 {
  margin: 20px 0 40px 0;
}
.about p {
  margin: 0 auto;
  width: 80%;
}
.achievements {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
  flex-wrap: wrap;
}
.achievement {
  margin: 15px;
}
.achievement img {
  width: 50px;
}
/* TESTIMONIALS */
.testimonials {
  padding: 20px 0;
  background-color: var(--root-gray);
}
.testimonial-slider {
  position: relative;
  width: 70%;
  margin: 20px auto;
  margin-bottom: 40px;
  display: flex;
  min-height: 400px;
}
.controls {
  position: absolute;
  top: 20%;
  transform: translateY(-20%);
  -webkit-transform: translateY(-20%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
.control {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.control:nth-child(1) {
  border-bottom: 3px solid var(--root-gold);
  border-left: 3px solid var(--root-gold);
}
.control:nth-child(2) {
  border-top: 3px solid var(--root-gold);
  border-right: 3px solid var(--root-gold);
}
.testimonial-slider .testimonial {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  flex-shrink: 0;
  visibility: hidden;
  user-select: none;
}
.testimonial-slider .testimonial.active {
  visibility: visible;
}

.testimonial .client-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}
.testimonial .client-photo img {
  width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 50%;
}
.testimonial cite {
  font-size: 22px;
  color: var(--root-gold);
}
.testimonial .quote-icono img {
  width: 50px;
  margin: 20px 0;
}
.testimonial .quote {
  text-align: center;
  width: 80%;
  font-size: 140%;
  line-height: 140%;
}

/* QUESTIONS */
.questions {
  min-height: 70vh;
  padding: 40px 0;
}
.questions h3 {
  margin-bottom: 40px;
}
.questions .wrapper {
  display: flex;
  width: 100%;
}
.questions .wrapper .acordion-list,
.questions .wrapper .skills {
  width: 50%;
}
.acordion-list .content-box {
  max-width: 85%;
  margin: 0 auto;
  border-bottom: 1px solid var(--root-light-gold);
  transition: all 0.5s ease-in-out;
}
.content-box .label {
  width: 100%;
  padding: 10px 0 10px 60px;
  position: relative;
  cursor: pointer;
}
.content-box .label:before {
  position: absolute;
  padding: 0 4px 1px;
  line-height: 15px;
  border-bottom: 4px solid var(--root-gold);
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  content: "+";
  border-radius: 2px;
  color: #fff;
  font-size: 120%;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--root-gold);
}
.content-box .label h4 {
  font-size: 115%;
  color: var(--root-gold);
}
.content-box .text {
  height: 0;
  overflow: hidden;
  display: none;
  margin: 10px 0 10px 60px;
  transition: all 0.5s ease-in-out;
}

.content-box.active .text {
  display: block;
  height: auto;
}
.content-box.active .label:before {
  content: "-";
  padding: 0 5px;
}
/* SKILS */
.skill {
  width: 90%;
  margin: 12px auto;
}
.skill .header-skill {
  margin: 5px 0;
  padding: 0;
  width: 78%;
  display: flex;

  justify-content: space-between;
}
.skill .header-skill span::after {
  content: "%";
}
.skill .progress-var {
  position: relative;
  height: 10px;
  width: 80%;
  overflow: hidden;
  background-color: var(--root-gray-dark);
}
.skill .progress-var .progress {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--root-gold);
  transition: all 1.5s linear;
}
/* BANNER */
.banner {
  width: 100%;
  height: 120px;
  background-color: var(--root-back);

  display: flex;
  align-items: center;
}
.banner .content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
.banner .content h4 {
  color: #fff;
  font-size: 200%;
}
/* FOOTER */
footer {
  background-color: var(--root-back);
  min-height: 50vh;
  padding: 20px 0;
  color: #fff;
  justify-content: space-evenly;
}
footer h5 {
  color: #fff;
  margin: 15px 0;
}
.about-footer,
.contact-adresses {
  max-width: 1000px;
  padding: 0 15px;
}
.about-footer,
.contact-info,
.newsletter {
  display: flex;
  flex-flow: column;
  margin: 30px auto 0;
}
.contact-adresses {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.contact-adresses .contact-info,
.contact-adresses .newsletter {
  display: flex;
  flex-flow: column;
  display: inline-block;
  flex: 1 1 350px;
}
.contact-info ul {
  list-style: none;
}
.contact-info ul li {
  margin: 10px 0;
  display: flex;
}
.contact-info ul li img {
  width: 15px;
  margin: 5px 10px 5px 0;
  align-self: flex-start;
}
.newsletter .email-wrapper {
  position: relative;
}
.email-wrapper input {
  width: 90%;
  border: none;
  border-radius: 10px;
  padding: 15px 15px;
  outline: none;
  margin: 15px 0;
}
.email-wrapper input:focus {
  border: 2px solid var(--root-gold);
}
.email-wrapper .email-icon {
  width: 60px;
  height: 47px;
  position: absolute;
  top: 49.5%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: 35px;
  border-radius: 10px;
  background-color: var(--root-gold);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}
.email-wrapper .email-icon img {
  width: 20px;
}
/* MEDIA QUERYS */
@media screen and (max-width: 1055px) {
  h1,
  h2 {
    font-size: 40px;
    line-height: 57px;
  }
  h4 {
    font-size: 20px;
  }
  a.btn {
    font-size: 16px;
    padding: 10px 15px;
  }
  .header h2 {
    font-size: 170%;
  }
  .gallery {
    gap: 20px;
  }
  .gallery .item:nth-child(2),
  .gallery .item:nth-child(5),
  .gallery .item:nth-child(4) {
    grid-row: span 1;
  }
  .gallery .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .img-content .circle img {
    width: 20px;
    height: auto;
  }

  .principal .content-overlap {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 100px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .content-overlap .title {
    width: 340px;
  }
  .about p {
    margin: 0 auto;
    width: 100%;
  }
  .testimonial-slider {
    width: 80%;
  }
  .testimonial .quote {
    font-size: 120%;
    line-height: 120%;
  }
  .control {
    width: 25px;
    height: 25px;
  }
  .questions .wrapper {
    display: flex;
    flex-flow: column;
    width: 100%;
  }
  .questions .wrapper .acordion-list,
  .questions .wrapper .skills {
    width: 100%;
    margin-bottom: 40px;
  }
  .acordion-list .content-box .label h4 {
    line-height: 120%;
    padding: 10px 0;
  }
  .skill {
    width: 85%;
  }
  .skill .header-skill {
    width: 90%;
  }
  .skill .progress-var {
    width: 90%;
  }
  .banner {
    height: 150px;
  }
  .banner .content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }
  .banner .content a.btn {
    margin: 20px 0;
  }
  .banner .content h4 {
    margin-top: 20px;
    font-size: 150%;
  }
}
@media screen and (max-width: 670px) {
  .about,
  .acordion-list .content-box {
    width: 90%;
    max-width: 90%;
  }

  .principal .foto-overlap {
    background: url(../assets/img/screens-1-1046x720.jpg) no-repeat center
      center;
    background-size: 200% 100%;
  }
  .principal .foto-overlap:before {
    background: url(../assets/img/back2.png) no-repeat 100%;
    background-size: 30% 100%;
  }
}
@media screen and (max-width: 460px) {
  .header h2 {
    font-size: 150%;
  }
  .contact-info,
  .newsletter {
    flex-basis: 80%;
  }

  .principal .content-overlap .text,
  .principal .content-overlap h6 {
    width: 290px;
  }
  .principal .content-overlap .title {
    margin-left: 40px;
  }

  .testimonial .quote {
    text-align: center;
    width: 100%;
    font-size: 110%;
  }

  .banner .content h4 {
    margin-top: 20px;
    font-size: 110%;
  }
  .acordion-list .content-box .label h4 {
    line-height: 110%;
  }
  .about-footer,
  .contact-adresses {
    padding: 0 15px;
  }
}
