:root {
  --form-ok-color: rgb(235, 184, 94);
  --form-error-color: rgb(216, 109, 70);
  --border-color: rgb(211, 213, 219);
}
*:focus-visible {
  outline: 2px solid var(--root-gold);
  outline-offset: 2px;
  border-radius: 2px;
}

.contact-banner {
  display: block;
  height: 300px;
  width: 100vw;
  padding: 2rem;
  background: url(../assets/img/breadcrumbs-image-1.jpg) no-repeat center center;
  z-index: 1;
  position: relative;
}
.contact-banner:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
.contact-banner__title {
  margin: 40px 0;
  color: #fff;
}
.contact-banner span {
  margin-right: 5px;
}

.contact-banner__breadcrumb-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 3.2px;
  color: #fff;
}

a {
  color: rgba(21, 21, 21, 0.7);
  line-height: 120%;
  font-size: 100%;
  transition: all 0.3s ease;
}
a:hover,
a:focus- {
  color: var(--root-gold);
}

.contact-channels {
  min-height: 120px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto;
  justify-content: center;
  justify-content: center;
  align-items: center;
}
.contact-channels__cell-numbers,
.contact-channels__emails,
.contact-channels__locations {
  display: flex;
  padding: 0 10px;
  max-width: 300px;
  width: 100%;
  flex-flow: column;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
}
.contact-channels__cell-numbers img,
.contact-channels__emails img,
.contact-channels__locations img {
  width: 20px;
  margin: 20px auto;
}

.contact-channels__locations,
.contact-channels__cell-numbers {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.form-section {
  min-height: 100vh;
  width: 100vw;
}
.form-section__inner {
  display: flex;
}
.contact-form-section {
  width: 50%;
  padding: 20px 0;
  background-color: rgb(245, 246, 250);
}
.contact-form {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-form__input-container {
  display: flex;
  width: 100%;
  flex-flow: column;
}
.contact-form__title {
  padding-bottom: 20px;
  font-weight: 800;
  width: 100%;
  font-size: 250%;
}

.contact-form__label {
  font-family: "IBM-regular";
  color: rgba(21, 21, 21, 0.7);
  margin: 5px 0;
}
.contact-form__input-container--share {
  width: 48%;
}
.contact-form__input,
.contact-form__textarea {
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  width: 100%;
  font-family: "IBM-regular";
  resize: none;
}

.contact-form__input:focus,
.contact-form__textarea:focus {
  outline: 2px solid var(--root-gold);
  outline-offset: 2px;
}
.contact-form__input {
  width: 250px;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
}
.contact-form__button {
  letter-spacing: 2px;
  outline: none;
  border: none;
  font-family: "IBM-regular";
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  margin: 20px 0;
}

.contact-form__input:valid {
  border: thin solid var(--form-ok-color);
}

.contact-form__input--invalid {
  border: thin solid var(--form-error-color);
}

.contact-form__error {
  font-size: 70%;
  color: var(--form-error-color);
  transition: all 800ms ease;
  display: none;
}

.contact-form__error--visible {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}
@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}
.map-section {
  width: 50%;
}
.map-section__map {
  max-width: 100%;
  height: 100%;
}

@media screen and (max-width: 1120px) {
  .contact-banner__title {
    margin: 40px 0 20px 0;
    font-size: 200%;
  }
  .contact-channels {
    width: 100%;
  }

  .contact-form {
    width: 400px;
    margin: 0 auto;
  }
  .contact-form__title {
    font-size: 157%;
  }
  .contact-form__input-container {
    width: 100%;
  }
}
@media screen and (max-width: 12065px) {
  .contact-form__input,
  .contact-form__textarea {
    width: 100%;
  }
}
@media screen and (max-width: 890px) {
  .contact-channels {
    min-height: 120px;
    width: 80%;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    margin: 40px auto;
    justify-content: center;
  }
  .contact-channels__cell-numbers,
  .contact-channels__emails,
  .contact-channels__locations {
    border-right: none;
    border-left: none;
    width: 100%;
  }
  .contact-channels__locations,
  .contact-channels__cell-numbers {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 20px;
    margin-top: 20px;
  }
  .form-section__inner {
    flex-flow: column;
  }

  .contact-form-section,
  .map-section {
    width: 100%;
  }
  .contact-form {
    width: 500px;
    margin: 0 auto;
  }
  .contact-form-section,
  .map-section {
    width: 100vw;
  }
}
@media screen and (max-width: 580px) {
  .contact-form {
    width: 100%;
    padding: 0 1rem;
  }
}
